<div class="container">
  <div class="header flex flexRow justifyContentBetween">
    <h4>{{ formDetails.name }} Response List</h4>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Form Name</th>
        <th scope="col">Submitted At</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let response of responses">
        <th scope="row">{{ response.id }}</th>
        <td>
          {{ formDetails.name }}
        </td>
        <td>{{ response.submittedAt | date : "MMM d, y, hh:mm a" }}</td>
        <td>
          <button title="View" class="btn view" (click)="onView(response)">
            <i class="bi bi-eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!responses?.length">
      <tr>
        <td colspan="4" class="textCenter">No Data Found.</td>
      </tr>
    </tfoot>
  </table>
</div>
