<div class="formDesign">
  <div class="header">
    <h4>Create Form</h4>
  </div>
  <div [formGroup]="form" class="formDetails flex flexRow">
    <div>
      <input
        type="text"
        placeholder="Enter Form Name"
        class="form-control"
        formControlName="name"
      />
      <div
        *ngIf="
          form.controls['name'].invalid &&
          (form.controls['name'].dirty || form.controls['name'].touched)
        "
        class="error"
      >
        <div *ngIf="form.controls['name'].errors?.['required']">
          This field is required.
        </div>
      </div>
    </div>
    <div class="ml-10">
      <button
        type="submit"
        [disabled]="form.invalid"
        title="Submit"
        class="btn btn-primary"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </div>
  <div class="designCt flex flexRow">
    <div class="design">
      <p class="heading">
        Please select from below which fields you need in the form:
      </p>
      <div class="flex flexRow" [formGroup]="addFieldForm">
        <div class="control">
          <label>Field Type</label>
          <select class="form-control" formControlName="type">
            <option value="" selected>Select Field Type</option>
            <option *ngFor="let field of formFields" value="{{ field.value }}">
              {{ field.label }}
            </option>
          </select>
          <div
            *ngIf="
              addFieldForm.controls['type'].invalid &&
              (addFieldForm.controls['type'].dirty ||
                addFieldForm.controls['type'].touched)
            "
            class="error"
          >
            <div *ngIf="addFieldForm.controls['type'].errors?.['required']">
              This field is required.
            </div>
          </div>
        </div>
        <div class="btnControl">
          <label style="visibility: hidden">Add More</label>
          <button
            [disabled]="addFieldForm.invalid"
            title="Add"
            class="btn btn-primary"
            type="submit"
            (click)="onAddField()"
          >
            Add
          </button>
        </div>
      </div>

      <div class="mt-10" [formGroup]="form">
        <ng-container formArrayName="fields">
          <ng-container *ngFor="let field of fields.controls; let i = index">
            <ng-container [formGroupName]="i">
              <ng-container [ngSwitch]="field.get('type')?.value">
                <ng-container *ngSwitchCase="fieldTypeEnum.TEXT">
                  <app-text-input
                    [mode]="formsModeEnum.EDIT"
                    [field]="field"
                    [editIndex]="i"
                    (onDelete)="onDeleteField($event)"
                  ></app-text-input>
                </ng-container>
                <ng-container *ngSwitchCase="fieldTypeEnum.RADIO">
                  <app-radio
                    [mode]="formsModeEnum.EDIT"
                    [field]="field"
                    [editIndex]="i"
                    (onDelete)="onDeleteField($event)"
                  ></app-radio>
                </ng-container>
                <ng-container *ngSwitchCase="fieldTypeEnum.CHECKBOX">
                  <app-checkbox
                    [mode]="formsModeEnum.EDIT"
                    [field]="field"
                    [editIndex]="i"
                    (onDelete)="onDeleteField($event)"
                  ></app-checkbox>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="preview">
      <h4>Preview Form</h4>
      <app-preview
        [mode]="formsModeEnum.PREVIEW"
        [form]="form.value"
      ></app-preview>
    </div>
  </div>
</div>
