<div class="container flex flexColumn justifyContentCenter h-100">
  <h2>Welcome to the Assignment</h2>
  <p>This assignment contains following features:</p>
  <ul>
    <li>Forms List</li>
    <li>Form Edit</li>
    <li>Form Preview</li>
    <li>Form Delete</li>
    <li>Form Create</li>
    <li>Response List for each Form</li>
    <li>Response view for each form with values filled.</li>
  </ul>
  <div class="alignSelfCenter textCenter">
    <p>Click on below button to navigate to Forms Page</p>
    <button (click)="onClick()">Click Here</button>
  </div>
</div>
